In [ ]:
# regular expression : pattern 
import re

In [7]:
st = "upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan 302033"
match = re.search('pvt',st)
print(match)

<re.Match object; span=(11, 14), match='pvt'>

In [8]:
st = "upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan 302033"
match = re.search('pvt',st)
print(match.group())

pvt

In [9]:
st = "upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan 302033"
match = re.findall('pvt',st)
print(match)

['pvt', 'pvt']

In [20]:
st = "upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Delhi 302033"
re.split("25",st) 
# st.split("25")

['upflairs 0 pvt ', ' ltd pvt jaipur 8 rajasthan @Delhi 302033']

In [17]:
st.replace('302033',' ')

'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan  '

In [21]:
print(st)
print(re.sub('[^a-zA-z ]',' ',st))

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Delhi 302033
upflairs   pvt    ltd pvt jaipur   rajasthan  Delhi

In [22]:
print(st)
print(re.sub('pvt',' ',st))

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Delhi 302033
upflairs 0   25 ltd   jaipur 8 rajasthan @Delhi 302033

In [32]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(st)
re.findall('[pvt]',st)

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033

['p', 'p', 'v', 't', 't', 'p', 'v', 't', 'p', 't']

In [36]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(st)
re.findall('Abh.....u',st)  # .

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033

['Abhimanyu']

In [38]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(st)
re.findall('Abh.*u',st)  # .

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033

['Abhimanyu']

In [39]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(st)
re.findall('A.*u',st)  # .

upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033

['Abhimanyu']

In [42]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(re.findall('[a-f]',st))

['f', 'a', 'd', 'a', 'a', 'a', 'a', 'b', 'a']

In [43]:
st = 'upflairs 0 pvt 25 ltd pvt jaipur 8 rajasthan @Abhimanyu 302033'
print(re.findall('[0-9]',st))

['0', '2', '5', '8', '3', '0', '2', '0', '3', '3']

In [47]:
st = "hey this is my contact number 9759194985 and this is postal code 302033"
"".join(re.findall('[0-9]',st))

'9759194985302033'

In [50]:
#  how we can fetch contact no. and email address from the string using regular expression
st = """hey this is my contact number 9759194985 and this is postal code 302033
 and this is my email ranjit.upflairs@gmail.com"""
"".join(re.findall('[0-9]',st))

'9759194985302033'

In [51]:
re.findall("ran.*@gmail.com",st)

['ranjit.upflairs@gmail.com']