In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported!")

libraries imported!

In [2]:
df = pd.read_csv("Used_Bikes.csv") 
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [4]:
df.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [5]:
df.describe(include="O")

                 bike_name   city        owner  brand
count                32648  32648        32648  32648
unique                 471    443            4     23
top     Bajaj Pulsar 150cc  Delhi  First Owner  Bajaj
freq                  2776   7318        29964  11213

In [6]:
df.city.unique()

array(['Ahmedabad', 'Delhi', 'Bangalore', 'Mumbai', 'Kalyan', 'Faridabad',
       'Mettur', 'Hyderabad', 'Kaithal', 'Gurgaon', 'Pune', 'Noida',
       'Nashik', 'Kochi', 'Allahabad', 'Samastipur', 'Nadiad', 'Lucknow',
       'Jaipur', 'Karnal', 'Gorakhpur', 'Vidisha', 'Hosur', 'Bagalkot',
       'Baripara', 'Agra', 'Dharwad', 'Vadodara', 'Jalandhar', 'Surat',
       'Chennai', 'Navi Mumbai', 'Gandhidham', 'Visakhapatnam',
       'Thrissur', 'Kolkata', 'Ernakulam', 'Barasat', 'Ghaziabad',
       'Bhubaneshwar', 'Amritsar', 'Bhopal', 'Hamirpur(hp)', 'Kottayam',
       'Arrah', 'Patiala', 'Ranga Reddy', 'Mandi', 'Ludhiana', 'Mandya',
       'Siliguri', 'Aurangabad', 'Kanpur', 'Bhilwara', 'Meerut', 'Rewari',
       'Ahmednagar', 'Wardha', 'Chandigarh', 'Ranchi', 'Panvel', 'Thane',
       'Jabalpur', 'Kota', 'Rohtak', 'Rajkot', 'Varanasi', '24 Pargana',
       'Banka', 'Nagpur', 'Banki', 'Pali', 'Chhatarpur', 'Katihar',
       'Mohali', 'Rudrapur', 'Coimbatore', 'Jajpur', 'Mysore', 'Adoni',
       'Bikaner', 'Malout', 'Jammu', 'Rajnandgaon', 'Unnao', 'Godhara',
       'Kolhapur', 'Satara', 'Siwan', 'Dadra & Nagar Haveli', 'Bhiwani',
       'Koppal', 'Nizamabad', 'Madurai', 'Ujjain', 'Palakkad',
       'Tiruvallur', 'Panchkula', 'Nanjangud', 'Jhansi', 'Sonipat',
       'Puttur', 'Hoshiarpur', 'Gohana', 'Gautam Buddha Nagar',
       'Durgapur', 'Palwal', 'Chatrapur', 'Howrah', 'Jind', 'Hubli',
       'Panipat', 'Bharatpur', 'Vellore', 'Ambala', 'Guwahati', 'Gangtok',
       'Rajahmundry', 'Tiruchirappalli', 'Belgaum', 'Balaghat', 'Jatani',
       'Asansol', 'Bilaspur', 'Thanjavur', 'Raigarh(mh)', 'Mandi Dabwali',
       'Basti', 'Bolpur', 'Aligarh', 'Balrampur', 'Ratnagiri', 'Muktsar',
       'Baran', 'Haldwani', 'Thiruvananthapuram', 'Indore', 'Buxar',
       'Chaksu', 'Haridwar', 'Bharuch', 'Muvattupuzha', 'Patna',
       'Simdega', 'Singhbhum', 'Bardhaman', 'Pathankot', 'Kharar',
       'Silchar', 'Jhalawar', 'Roorkee', 'Saharanpur', 'Solapur',
       'Gwalior', 'Alibag', 'Katni', 'Khedbrahma', 'Valsad', 'Satna',
       'Hooghly', 'Gurdaspur', 'Dadri', 'Amravati', 'Durg', 'Mehsana',
       'Lansdowne', 'Cuttack', 'Jaisalmer', 'Hanumangarh', 'Dungarpur',
       'Sri Ganganagar', 'Margao', 'Chinsurah', 'Bhatinda', 'Sibsagar',
       'Khalilabad', 'Dehradun', 'Anand', 'Sambalpur', 'Ankleshwar',
       'Purnia', 'Tiruverkadu', 'Bahadurgarh', 'Udaipur', 'Jodhpur',
       'Sheikhpura', 'Pondicherry', 'Sirsa', 'Godavari', 'Ajmer',
       'Moradabad', 'Raipur', 'Navsari', 'Herbertpur', 'Jamshedpur',
       'Ramanagar', 'Berhampur', 'Vijayawada', 'Murad Nagar',
       'Chandrapur', 'Jamtara', 'Uppidamangalam', 'Nalagarh', 'Una',
       'Chakan', 'Idukki', 'Shivpuri', 'Arkalgud', 'Bidar', 'Rupnagar',
       'Deoghar', 'Kanchipuram', 'Vapi', 'Medak', 'Kasargode', 'Dhanbad',
       'Dakshina Kannada', 'Ganaur', 'Jamalpur', 'Amraoti', 'Mangalore',
       'Deolali', 'Gandhinagar', 'Chitradurga', 'Chinchwad', 'Jhajjar',
       'Jagdalpur', 'Ranoli', 'Raiwala', 'Guntur', 'Badarpur', 'Adalaj',
       'Alipore', 'Bhawani Mandi', 'Mughalsarai', 'Kollam', 'Farukhabad',
       'Thiruvallur', 'Udaipurwati', 'Rasra', 'Latur', 'Krishna',
       'Gangaikondan', 'Warangal', 'Uluberia', 'Poonamallee', 'Nagaon',
       'Hissar', 'Kanyakumari', 'Morbi', 'Bankura', 'Virar', 'Tikamgarh',
       'Sultanpur', 'Tirunelveli', 'Bihar Shariff', 'Goa-panaji',
       'Ganganagar', 'Kolar', 'Bahadurpur', 'Batala', 'Budhlada',
       'Muzaffarnagar', 'Adyar', 'Calicut', 'Raigarh', 'Sonepat',
       'Chikkaballapur', 'Kasba', 'Bulandshahr', 'Burdwan', 'Anjar',
       'Marandahalli', 'Badaun', 'Namakkal', 'Puri', 'Alwar',
       'Surendranagar', 'Khandela', 'Kullu', 'Mohammadabad', 'Sangareddy',
       'Ghazipur', 'Shimla', 'Azamgarh', 'Chenani', 'Kanpur Nagar',
       'Trivandrum', 'Secunderabad', 'Kurukshetra', 'Dhariawad',
       'Bargarh', 'Gadarpur', 'Chikamaglur', 'Karim Nagar', 'Kotdwar',
       'Jalaun', 'Parola', 'Bareilly', 'Salem', 'Indi', 'Muzaffarpur',
       'Nayagarh', 'Jalgaon', 'Ambikapur', 'Udupi', 'Junagadh',
       'Dibrugarh', 'Faridkot', 'Naraingarh', 'Karwar',
       'Sant Kabir Nagar', 'Viramgam', 'Manali', 'Gadwal', 'Honavar',
       'Mathura', 'Khandwa', 'Solan', 'Sitapur', 'Betul', 'Anantapur',
       'Sholapur', 'Pinjore', 'Qadian', 'Sangrur', 'Jorhat', 'Palanpur',
       'Narnaul', 'Palamu', 'Falakata', 'Ferozepur', 'Porbandar',
       'Dwarka', 'Rangpo', 'Cannanore (kannur)', 'Churu', 'Baghpat',
       'Jhumri Tilaiya', 'Naihati', 'Virudhunagar', 'Dharmavaram',
       'Darbhanga', 'Nawanshahr', 'Sangli', 'Suri', 'Yamuna Nagar',
       'Vasai', 'Aluva', 'Sirsi', 'Bijapur', 'Krishnagar', 'Bhiwadi',
       'Bellary', 'Erode', 'Aquem', 'Nellore', 'Udhampur', 'Dhamtari',
       'Vandalur', 'Motihari', 'Dharwar', 'Shimoga', 'Jhunjhunu',
       'Bijnor', 'Yemmiganur', 'Bokaro', 'Kurnool', 'Srinagar', 'Ranip',
       'Davanagere', 'Rajouri', 'Begusarai', 'Goregaon', 'Bally',
       'Kachchh', 'Nagaur', 'Anekal', 'Mansa', 'Nanded', 'Dharamasala',
       'Chhindwara', 'Jamnagar', 'Zirakpur', 'Abohar', 'Barabanki',
       'Nabha', 'Kadapa', 'Perumbavoor', 'Sundargarh', 'Nazira',
       'Pratapgarh', 'Dharmapuri', 'Thangadh', 'Lonavala', 'Vizianagaram',
       'Kathua', 'Deesa', 'Tiruppur', 'Gadchiroli', 'Gangaghat', 'Bhuj',
       'Vastral', 'Phagwara', 'Kheda', 'Swaimadhopur', 'Kharagpur',
       'Jobner', 'Gondia', 'Bundi', 'Hamirpur', 'Dongargaon',
       'Mubarakpur', 'Tumkur', 'Sanand', 'Kartarpur', 'Bhavnagar',
       'Farrukhabad', 'Kadi', 'Seppa', 'Challakere', 'Dhubri', 'Deoria',
       'Akot', 'Alappuzha', 'Bhiwandi', 'Shillong', 'Osmanabad', 'Kendua',
       'Uran', 'Jaunpur', 'Hisar', 'Bodhan', 'Bhubaneswar', 'Raiganj',
       'Bhilai Nagar', 'Baloda', 'Anantnag', 'Berhampore', 'Silvasa',
       'Hospet', 'Palai', 'Sidhi'], dtype=object)

In [7]:
df.brand.unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [8]:
df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [9]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [10]:
df.shape

(32648, 8)

In [11]:
df.duplicated().sum()

25324

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.shape

(7324, 8)

In [14]:
## jaipur 
jaipur =  df[df['city'] == "Jaipur" ]
jaipur.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
47,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra
134,Suzuki Gixxer SF 150cc,47000.0,Jaipur,70000.0,First Owner,6.0,150.0,Suzuki
166,Royal Enfield Classic 350cc,123600.0,Jaipur,7702.0,First Owner,3.0,350.0,Royal Enfield
189,Harley-Davidson Iron 883,435000.0,Jaipur,5550.0,Second Owner,7.0,883.0,Harley-Davidson
490,Honda CBR 150R 150cc,55000.0,Jaipur,2000.0,First Owner,9.0,150.0,Honda

In [15]:
jaipur.shape[0]

299

In [16]:
jaipur['price'].min()  #  14000.0

14000.0

In [17]:
jaipur['price'].max()  # 1260000

1260000.0

In [18]:
jaipur['price'].mean()

62213.371237458196

In [19]:

jaipur_budget_bike = jaipur[jaipur['price']<= jaipur['price'].mean()]
jaipur_budget_bike.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
47,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra
134,Suzuki Gixxer SF 150cc,47000.0,Jaipur,70000.0,First Owner,6.0,150.0,Suzuki
490,Honda CBR 150R 150cc,55000.0,Jaipur,2000.0,First Owner,9.0,150.0,Honda
754,Hero CBZ 150cc,21000.0,Jaipur,50000.0,First Owner,10.0,150.0,Hero
960,Honda CB Shine 125cc,37000.0,Jaipur,18110.0,First Owner,6.0,125.0,Honda

In [20]:
jaipur_budget_bike['brand'].unique()

array(['Mahindra', 'Suzuki', 'Honda', 'Hero', 'Bajaj', 'Yamaha', 'TVS',
       'Royal Enfield'], dtype=object)

In [21]:
jaipur_budget_bike[jaipur_budget_bike['brand']== "Royal Enfield"]

,bike_name,price,city,kms_driven,owner,age,power,brand
7352,Royal Enfield Thunderbird 350cc,55000.0,Jaipur,4779.0,First Owner,11.0,350.0,Royal Enfield

In [22]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [23]:
brand_list = list(df['brand'].value_counts().head(16).keys())
print(brand_list)
print(len(brand_list))

['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM', 'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra', 'Benelli', 'Triumph', 'Ducati', 'BMW']
16

In [24]:
df = df[df['brand'].isin(brand_list)]

In [25]:
len(df['brand'].value_counts().keys())

16

In [26]:
ls = ["Triumph","TVS","Bajaj"]
df[df['brand'].isin(ls)].head()
# just for testing

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
12,Bajaj Pulsar NS200,78000.0,Bangalore,9900.0,First Owner,4.0,200.0,Bajaj
13,Bajaj Discover 100M,29499.0,Delhi,20000.0,First Owner,8.0,100.0,Bajaj

In [27]:
import warnings 
warnings.filterwarnings('ignore')

In [28]:
df.drop(['bike_name','city'],axis=1,inplace=True)

In [29]:
df.head()

      price  kms_driven        owner  age  power          brand
0   35000.0     17654.0  First Owner  3.0  110.0            TVS
1  119900.0     11000.0  First Owner  4.0  350.0  Royal Enfield
2  600000.0       110.0  First Owner  8.0  675.0        Triumph
3   65000.0     16329.0  First Owner  4.0  180.0            TVS
4   80000.0     10000.0  First Owner  3.0  150.0         Yamaha

In [30]:
df.dtypes

price         float64
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [31]:
df['price'].astype(str).dtype

dtype('O')

In [32]:
df['owner'].value_counts()

owner
First Owner             6628
Second Owner             586
Third Owner               83
Fourth Owner Or More      10
Name: count, dtype: int64

In [33]:
owner_dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
owner_dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [34]:
owner_dt["First Owner"]

1

In [35]:
owner_column = []
for ownership in df['owner']:
    owner_column.append(owner_dt[ownership])

In [36]:
# owner_column
# df['owner']  =  owner_column

In [37]:
df['owner'] = df['owner'].map(owner_dt)  
# df['owner']

In [38]:
## encoding classes 
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [39]:
encoder  = LabelEncoder()

In [40]:
output = encoder.fit_transform(df['brand'])  
# encoder.fit(df['brand'])

In [41]:
encoder.classes_

array(['BMW', 'Bajaj', 'Benelli', 'Ducati', 'Harley-Davidson', 'Hero',
       'Honda', 'Hyosung', 'KTM', 'Kawasaki', 'Mahindra', 'Royal Enfield',
       'Suzuki', 'TVS', 'Triumph', 'Yamaha'], dtype=object)

In [42]:
output

array([13, 11, 14, ...,  4,  1,  1])

In [43]:
output.shape

(7307,)

In [44]:
df['brand']  = output

In [45]:
df['brand'].max()

15

In [46]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age           float64
power         float64
brand           int32
dtype: object

In [47]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [48]:
x = df.drop('price',axis=1)  # independent variable set  
y = df[['price']]  # dependent variable , target variable

In [49]:
# train test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [50]:
# import random
# student_list = ['nikita','surabhi','lakshay','govind'] 
# random.shuffle(student_list)

In [51]:
x_train.head()

      kms_driven  owner  age  power  brand
6181      4607.0      1  6.0  535.0     11
2758     33000.0      1  5.0  180.0      1
3237     13219.0      1  9.0  160.0     13
7954     42386.0      1  6.0  150.0     15
611       3490.0      1  3.0  200.0      5

In [52]:
### model selection

In [53]:
from sklearn.linear_model import  LinearRegression

In [54]:
lnr = LinearRegression()

In [55]:
## train the algorithm 
lnr.fit(x_train,y_train)

LinearRegression()

In [56]:
x_train.shape

(5845, 5)

### Model Evaluation

In [57]:
print(lnr.score(x_train,y_train))   # training score

0.6756515842127438

In [58]:
print(lnr.score(x_test,y_test))  # testing score ( unseen data )

0.6512963972935701

In [59]:
x_test.shape

(1462, 5)

In [60]:
prediction = lnr.predict(x_test)

In [61]:
x_test.shape

(1462, 5)

In [62]:
# prediction.ravel()
y_test['prediction']  = prediction.ravel()

In [63]:
y_test.columns = ['actual price', 'prediction price']

In [64]:
compare_df = pd.concat([x_test,y_test],axis=1) 
compare_df.head(40)

      kms_driven  owner   age   power  brand  actual price  prediction price
2606      8000.0      1   3.0   650.0      9      550000.0     341912.142405
2079     75000.0      1   7.0   150.0     15       54800.0      21958.513762
2576      3208.0      1   4.0   350.0     11      150000.0     162194.225930
3700      2110.0      1   2.0   150.0     15       84000.0      49307.854107
1552      9700.0      1   2.0   200.0      5       97400.0      90056.702286
6777       841.0      1   5.0   220.0      1       45000.0      95791.319389
1390     14000.0      2   6.0   350.0     11      105000.0     150984.701917
4712     19927.0      1   7.0   350.0     11       69500.0     148622.962971
5197     14200.0      1   4.0   350.0     11      113000.0     161039.347270
9020     14000.0      1  12.0   350.0     11       80000.0     129554.560702
4319      9581.0      1   5.0   150.0      1       30000.0      54327.622394
2824     30000.0      1   6.0   150.0      1       45000.0      48244.067439
6097     16000.0      1   5.0   500.0     11       95000.0     243795.059426
8754     10000.0      1   5.0   220.0      1       58600.0      94829.025571
8305     19000.0      1   8.0   200.0      1       52000.0      70484.354976
8101     11060.0      1   4.0   250.0     15       92000.0      98413.105574
1284     11000.0      1   5.0   350.0     11      133300.0     157437.331531
4926     18227.0      1   9.0   150.0     15       35000.0      20046.940685
5395     16830.0      1   6.0   100.0      5       36000.0      15632.649772
2528      7247.0      2   6.0   535.0     11      115000.0     258849.976012
1431      3600.0      1   5.0   410.0     11      157500.0     192968.037264
16       23000.0      1   3.0   200.0      1      120000.0      89755.218232
5065     38000.0      1   7.0   150.0     15       43000.0      25845.932832
6447      7500.0      1   3.0   390.0      8      200000.0     192625.907730
4709     14600.0      2   5.0   250.0      2      110700.0     108264.599648
6674     18250.0      1   4.0   650.0      9      550000.0     336896.997302
5277     18500.0      1   5.0   160.0     13       65000.0      44080.416541
349      15000.0      1   7.0   350.0     11       87000.0     149140.620099
8143     15733.0      1   4.0   100.0      5       60000.0      23624.356405
7811     13858.0      2  11.0   350.0     11       70000.0     131308.496424
8254      2000.0      1   5.0   150.0     15      102000.0      37504.736433
1256     30000.0      1  12.0   100.0      5       13500.0      -9380.411020
4424     14268.0      1   2.0   110.0      1       39500.0      42481.041211
3190     10000.0      1   4.0   500.0     11      200000.0     248363.676663
2597     20700.0      1  10.0   250.0      6       97200.0      85097.674109
4903      2510.0      1   3.0  1200.0      3     1100000.0     668611.317952
959      26000.0      1  13.0   100.0      5       23500.0     -12898.374454
3129     50000.0      1  10.0   125.0      6       18000.0       9616.712804
6347     30000.0      1   8.0   135.0      1       35000.0      31679.312048
1308      3000.0      1   3.0   150.0     15      145000.0      45276.120963

In [65]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [66]:
mse = mean_squared_error(y_test['actual price'],y_test['prediction price'])  # mse 
mse

5844403364.542335

In [67]:
mae = mean_absolute_error(y_test['actual price'],y_test['prediction price']) # mae 
mae

37344.93308190687

In [68]:
np.sqrt(mse)      #rmse

76448.69759873176

In [69]:
y_test

      actual price  prediction price
2606      550000.0     341912.142405
2079       54800.0      21958.513762
2576      150000.0     162194.225930
3700       84000.0      49307.854107
1552       97400.0      90056.702286
...            ...               ...
6420       57000.0      94977.903215
4384       80000.0      49188.288802
3745      120000.0     157174.668081
7902       99000.0     146626.215441
6243       45000.0      27802.340558

[1462 rows x 2 columns]

In [70]:
print("R2 squared : ",lnr.score(x_train,y_train))

R2 squared :  0.6756515842127438

In [71]:
from sklearn.metrics import r2_score

In [72]:
print("Test data : ",lnr.score(x_test,y_test["actual price"]))

Test data :  0.6512963972935701

In [73]:
r2_scr = r2_score(y_test['actual price'] , y_test["prediction price"])

In [74]:
def my_r2_squared(actual,predicted):
    pass

In [75]:

y_test.shape

(1462, 2)

In [76]:
p = x_test.shape[1]  # no. of independent variables 
n = y_test.shape[0]  # no. of data point

In [77]:
print("Adjusted r2 squared : ", 1 - ((1 - r2_scr) * (n - 1) / (n - p - 1)))

Adjusted r2 squared :  0.65009892613043

In [78]:
x_test

      kms_driven  owner  age  power  brand
2606      8000.0      1  3.0  650.0      9
2079     75000.0      1  7.0  150.0     15
2576      3208.0      1  4.0  350.0     11
3700      2110.0      1  2.0  150.0     15
1552      9700.0      1  2.0  200.0      5
...          ...    ...  ...    ...    ...
6420      8583.0      1  5.0  220.0      1
4384      1700.0      1  3.0  150.0     12
3745     13500.0      1  5.0  350.0     11
7902     18000.0      2  7.0  350.0     11
6243     13451.0      1  3.0  100.0      5

[1462 rows x 5 columns]

In [79]:
import joblib 
import pickle

In [80]:
student_ls = ['mohit','rohit','suresh','chandani']
print(student_ls)

['mohit', 'rohit', 'suresh', 'chandani']

In [81]:
type(student_ls)

list

In [82]:
joblib.dump(student_ls,"stuent_names.lb")

['stuent_names.lb']

In [83]:
output = joblib.load("stuent_names.lb")
print(output)

['mohit', 'rohit', 'suresh', 'chandani']

In [84]:
import os

In [85]:
os.listdir()

['.ipynb_checkpoints',
 'bike_price_prediction.ipynb',
 'labelencoder.lb',
 'linear_regression.lb',
 'stuent_names.lb',
 'Used_Bikes.csv']

### model save

In [86]:
joblib.dump(lnr,'linear_regression.lb')

['linear_regression.lb']

In [87]:
joblib.dump(encoder,'labelencoder.lb')

['labelencoder.lb']

#### Polynomial Regression

In [95]:
from sklearn.preprocessing import PolynomialFeatures 
from sklearn.linear_model import LinearRegression

In [103]:
#initiating classes 
ply = PolynomialFeatures(degree=2)
lnr = LinearRegression()

In [104]:
### data transform (polynomial transformation)
### non-linear data ==> linear data 
x_train_poly = ply.fit_transform(x_train)
x_test_poly = ply.fit_transform(x_test)
print("data is transformed")

data is transformed

In [106]:
# (x,y)
lnr.fit(x_train_poly,y_train)

LinearRegression()

In [111]:
round(lnr.score(x_train_poly,y_train) * 100,2 ) # training score

79.87

In [109]:
lnr.score(x_test_poly,y_test)  # testing score

0.7789540819811804

In [97]:
# y_test

In [108]:
# y_test