In [58]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported!")

libraries imported!

In [59]:
df = pd.read_csv("Used_Bikes.csv") 
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [61]:
df.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [62]:
df.describe(include="O")

                 bike_name   city        owner  brand
count                32648  32648        32648  32648
unique                 471    443            4     23
top     Bajaj Pulsar 150cc  Delhi  First Owner  Bajaj
freq                  2776   7318        29964  11213

In [63]:
df.city.unique()

array(['Ahmedabad', 'Delhi', 'Bangalore', 'Mumbai', 'Kalyan', 'Faridabad',
       'Mettur', 'Hyderabad', 'Kaithal', 'Gurgaon', 'Pune', 'Noida',
       'Nashik', 'Kochi', 'Allahabad', 'Samastipur', 'Nadiad', 'Lucknow',
       'Jaipur', 'Karnal', 'Gorakhpur', 'Vidisha', 'Hosur', 'Bagalkot',
       'Baripara', 'Agra', 'Dharwad', 'Vadodara', 'Jalandhar', 'Surat',
       'Chennai', 'Navi Mumbai', 'Gandhidham', 'Visakhapatnam',
       'Thrissur', 'Kolkata', 'Ernakulam', 'Barasat', 'Ghaziabad',
       'Bhubaneshwar', 'Amritsar', 'Bhopal', 'Hamirpur(hp)', 'Kottayam',
       'Arrah', 'Patiala', 'Ranga Reddy', 'Mandi', 'Ludhiana', 'Mandya',
       'Siliguri', 'Aurangabad', 'Kanpur', 'Bhilwara', 'Meerut', 'Rewari',
       'Ahmednagar', 'Wardha', 'Chandigarh', 'Ranchi', 'Panvel', 'Thane',
       'Jabalpur', 'Kota', 'Rohtak', 'Rajkot', 'Varanasi', '24 Pargana',
       'Banka', 'Nagpur', 'Banki', 'Pali', 'Chhatarpur', 'Katihar',
       'Mohali', 'Rudrapur', 'Coimbatore', 'Jajpur', 'Mysore', 'Adoni',
       'Bikaner', 'Malout', 'Jammu', 'Rajnandgaon', 'Unnao', 'Godhara',
       'Kolhapur', 'Satara', 'Siwan', 'Dadra & Nagar Haveli', 'Bhiwani',
       'Koppal', 'Nizamabad', 'Madurai', 'Ujjain', 'Palakkad',
       'Tiruvallur', 'Panchkula', 'Nanjangud', 'Jhansi', 'Sonipat',
       'Puttur', 'Hoshiarpur', 'Gohana', 'Gautam Buddha Nagar',
       'Durgapur', 'Palwal', 'Chatrapur', 'Howrah', 'Jind', 'Hubli',
       'Panipat', 'Bharatpur', 'Vellore', 'Ambala', 'Guwahati', 'Gangtok',
       'Rajahmundry', 'Tiruchirappalli', 'Belgaum', 'Balaghat', 'Jatani',
       'Asansol', 'Bilaspur', 'Thanjavur', 'Raigarh(mh)', 'Mandi Dabwali',
       'Basti', 'Bolpur', 'Aligarh', 'Balrampur', 'Ratnagiri', 'Muktsar',
       'Baran', 'Haldwani', 'Thiruvananthapuram', 'Indore', 'Buxar',
       'Chaksu', 'Haridwar', 'Bharuch', 'Muvattupuzha', 'Patna',
       'Simdega', 'Singhbhum', 'Bardhaman', 'Pathankot', 'Kharar',
       'Silchar', 'Jhalawar', 'Roorkee', 'Saharanpur', 'Solapur',
       'Gwalior', 'Alibag', 'Katni', 'Khedbrahma', 'Valsad', 'Satna',
       'Hooghly', 'Gurdaspur', 'Dadri', 'Amravati', 'Durg', 'Mehsana',
       'Lansdowne', 'Cuttack', 'Jaisalmer', 'Hanumangarh', 'Dungarpur',
       'Sri Ganganagar', 'Margao', 'Chinsurah', 'Bhatinda', 'Sibsagar',
       'Khalilabad', 'Dehradun', 'Anand', 'Sambalpur', 'Ankleshwar',
       'Purnia', 'Tiruverkadu', 'Bahadurgarh', 'Udaipur', 'Jodhpur',
       'Sheikhpura', 'Pondicherry', 'Sirsa', 'Godavari', 'Ajmer',
       'Moradabad', 'Raipur', 'Navsari', 'Herbertpur', 'Jamshedpur',
       'Ramanagar', 'Berhampur', 'Vijayawada', 'Murad Nagar',
       'Chandrapur', 'Jamtara', 'Uppidamangalam', 'Nalagarh', 'Una',
       'Chakan', 'Idukki', 'Shivpuri', 'Arkalgud', 'Bidar', 'Rupnagar',
       'Deoghar', 'Kanchipuram', 'Vapi', 'Medak', 'Kasargode', 'Dhanbad',
       'Dakshina Kannada', 'Ganaur', 'Jamalpur', 'Amraoti', 'Mangalore',
       'Deolali', 'Gandhinagar', 'Chitradurga', 'Chinchwad', 'Jhajjar',
       'Jagdalpur', 'Ranoli', 'Raiwala', 'Guntur', 'Badarpur', 'Adalaj',
       'Alipore', 'Bhawani Mandi', 'Mughalsarai', 'Kollam', 'Farukhabad',
       'Thiruvallur', 'Udaipurwati', 'Rasra', 'Latur', 'Krishna',
       'Gangaikondan', 'Warangal', 'Uluberia', 'Poonamallee', 'Nagaon',
       'Hissar', 'Kanyakumari', 'Morbi', 'Bankura', 'Virar', 'Tikamgarh',
       'Sultanpur', 'Tirunelveli', 'Bihar Shariff', 'Goa-panaji',
       'Ganganagar', 'Kolar', 'Bahadurpur', 'Batala', 'Budhlada',
       'Muzaffarnagar', 'Adyar', 'Calicut', 'Raigarh', 'Sonepat',
       'Chikkaballapur', 'Kasba', 'Bulandshahr', 'Burdwan', 'Anjar',
       'Marandahalli', 'Badaun', 'Namakkal', 'Puri', 'Alwar',
       'Surendranagar', 'Khandela', 'Kullu', 'Mohammadabad', 'Sangareddy',
       'Ghazipur', 'Shimla', 'Azamgarh', 'Chenani', 'Kanpur Nagar',
       'Trivandrum', 'Secunderabad', 'Kurukshetra', 'Dhariawad',
       'Bargarh', 'Gadarpur', 'Chikamaglur', 'Karim Nagar', 'Kotdwar',
       'Jalaun', 'Parola', 'Bareilly', 'Salem', 'Indi', 'Muzaffarpur',
       'Nayagarh', 'Jalgaon', 'Ambikapur', 'Udupi', 'Junagadh',
       'Dibrugarh', 'Faridkot', 'Naraingarh', 'Karwar',
       'Sant Kabir Nagar', 'Viramgam', 'Manali', 'Gadwal', 'Honavar',
       'Mathura', 'Khandwa', 'Solan', 'Sitapur', 'Betul', 'Anantapur',
       'Sholapur', 'Pinjore', 'Qadian', 'Sangrur', 'Jorhat', 'Palanpur',
       'Narnaul', 'Palamu', 'Falakata', 'Ferozepur', 'Porbandar',
       'Dwarka', 'Rangpo', 'Cannanore (kannur)', 'Churu', 'Baghpat',
       'Jhumri Tilaiya', 'Naihati', 'Virudhunagar', 'Dharmavaram',
       'Darbhanga', 'Nawanshahr', 'Sangli', 'Suri', 'Yamuna Nagar',
       'Vasai', 'Aluva', 'Sirsi', 'Bijapur', 'Krishnagar', 'Bhiwadi',
       'Bellary', 'Erode', 'Aquem', 'Nellore', 'Udhampur', 'Dhamtari',
       'Vandalur', 'Motihari', 'Dharwar', 'Shimoga', 'Jhunjhunu',
       'Bijnor', 'Yemmiganur', 'Bokaro', 'Kurnool', 'Srinagar', 'Ranip',
       'Davanagere', 'Rajouri', 'Begusarai', 'Goregaon', 'Bally',
       'Kachchh', 'Nagaur', 'Anekal', 'Mansa', 'Nanded', 'Dharamasala',
       'Chhindwara', 'Jamnagar', 'Zirakpur', 'Abohar', 'Barabanki',
       'Nabha', 'Kadapa', 'Perumbavoor', 'Sundargarh', 'Nazira',
       'Pratapgarh', 'Dharmapuri', 'Thangadh', 'Lonavala', 'Vizianagaram',
       'Kathua', 'Deesa', 'Tiruppur', 'Gadchiroli', 'Gangaghat', 'Bhuj',
       'Vastral', 'Phagwara', 'Kheda', 'Swaimadhopur', 'Kharagpur',
       'Jobner', 'Gondia', 'Bundi', 'Hamirpur', 'Dongargaon',
       'Mubarakpur', 'Tumkur', 'Sanand', 'Kartarpur', 'Bhavnagar',
       'Farrukhabad', 'Kadi', 'Seppa', 'Challakere', 'Dhubri', 'Deoria',
       'Akot', 'Alappuzha', 'Bhiwandi', 'Shillong', 'Osmanabad', 'Kendua',
       'Uran', 'Jaunpur', 'Hisar', 'Bodhan', 'Bhubaneswar', 'Raiganj',
       'Bhilai Nagar', 'Baloda', 'Anantnag', 'Berhampore', 'Silvasa',
       'Hospet', 'Palai', 'Sidhi'], dtype=object)

In [64]:
df.brand.unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [65]:
df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [66]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [67]:
df.shape

(32648, 8)

In [68]:
df.duplicated().sum()

np.int64(25324)

In [69]:
df.drop_duplicates(inplace=True)

In [70]:
df.shape

(7324, 8)

In [71]:
## jaipur 
jaipur =  df[df['city'] == "Jaipur" ]
jaipur.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
47,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra
134,Suzuki Gixxer SF 150cc,47000.0,Jaipur,70000.0,First Owner,6.0,150.0,Suzuki
166,Royal Enfield Classic 350cc,123600.0,Jaipur,7702.0,First Owner,3.0,350.0,Royal Enfield
189,Harley-Davidson Iron 883,435000.0,Jaipur,5550.0,Second Owner,7.0,883.0,Harley-Davidson
490,Honda CBR 150R 150cc,55000.0,Jaipur,2000.0,First Owner,9.0,150.0,Honda

In [72]:
jaipur.shape[0]

299

In [73]:
jaipur['price'].min()  #  14000.0

np.float64(14000.0)

In [74]:
jaipur['price'].max()  # 1260000

np.float64(1260000.0)

In [75]:
jaipur['price'].mean()

np.float64(62213.371237458196)

In [76]:

jaipur_budget_bike = jaipur[jaipur['price']<= jaipur['price'].mean()]
jaipur_budget_bike.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
47,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra
134,Suzuki Gixxer SF 150cc,47000.0,Jaipur,70000.0,First Owner,6.0,150.0,Suzuki
490,Honda CBR 150R 150cc,55000.0,Jaipur,2000.0,First Owner,9.0,150.0,Honda
754,Hero CBZ 150cc,21000.0,Jaipur,50000.0,First Owner,10.0,150.0,Hero
960,Honda CB Shine 125cc,37000.0,Jaipur,18110.0,First Owner,6.0,125.0,Honda

In [77]:
jaipur_budget_bike['brand'].unique()

array(['Mahindra', 'Suzuki', 'Honda', 'Hero', 'Bajaj', 'Yamaha', 'TVS',
       'Royal Enfield'], dtype=object)

In [78]:
jaipur_budget_bike[jaipur_budget_bike['brand']== "Royal Enfield"]

,bike_name,price,city,kms_driven,owner,age,power,brand
7352,Royal Enfield Thunderbird 350cc,55000.0,Jaipur,4779.0,First Owner,11.0,350.0,Royal Enfield

In [79]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [80]:
brand_list = list(df['brand'].value_counts().head(16).keys())
print(brand_list)
print(len(brand_list))

['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM', 'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra', 'Benelli', 'Triumph', 'Ducati', 'BMW']
16

In [81]:
df = df[df['brand'].isin(brand_list)]

In [82]:
len(df['brand'].value_counts().keys())

16

In [83]:
ls = ["Triumph","TVS","Bajaj"]
df[df['brand'].isin(ls)].head()
# just for testing

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
12,Bajaj Pulsar NS200,78000.0,Bangalore,9900.0,First Owner,4.0,200.0,Bajaj
13,Bajaj Discover 100M,29499.0,Delhi,20000.0,First Owner,8.0,100.0,Bajaj

In [84]:
import warnings 
warnings.filterwarnings('ignore')

In [85]:
df.drop(['bike_name','city'],axis=1,inplace=True)

In [86]:
df.head()

      price  kms_driven        owner  age  power          brand
0   35000.0     17654.0  First Owner  3.0  110.0            TVS
1  119900.0     11000.0  First Owner  4.0  350.0  Royal Enfield
2  600000.0       110.0  First Owner  8.0  675.0        Triumph
3   65000.0     16329.0  First Owner  4.0  180.0            TVS
4   80000.0     10000.0  First Owner  3.0  150.0         Yamaha

In [87]:
df.dtypes

price         float64
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [88]:
df['price'].astype(str).dtype

dtype('O')

In [89]:
df['owner'].value_counts()

owner
First Owner             6628
Second Owner             586
Third Owner               83
Fourth Owner Or More      10
Name: count, dtype: int64

In [90]:
owner_dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
owner_dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [91]:
owner_dt["First Owner"]

1

In [92]:
owner_column = []
for ownership in df['owner']:
    owner_column.append(owner_dt[ownership])

In [93]:
# owner_column
# df['owner']  =  owner_column

In [94]:
df['owner'] = df['owner'].map(owner_dt)  
# df['owner']

In [97]:
## encoding classes 
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [100]:
encoder  = LabelEncoder()

In [117]:
output = encoder.fit_transform(df['brand'])  
# encoder.fit(df['brand'])

In [118]:
encoder.classes_

array(['BMW', 'Bajaj', 'Benelli', 'Ducati', 'Harley-Davidson', 'Hero',
       'Honda', 'Hyosung', 'KTM', 'Kawasaki', 'Mahindra', 'Royal Enfield',
       'Suzuki', 'TVS', 'Triumph', 'Yamaha'], dtype=object)

In [122]:
output

array([13, 11, 14, ...,  4,  1,  1], shape=(7307,))

In [120]:
output.shape

(7307,)

In [124]:
df['brand']  = output

In [127]:
df['brand'].max()

np.int64(15)

In [131]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age           float64
power         float64
brand           int64
dtype: object

In [133]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [136]:
x = df.drop('price',axis=1)  # independent variable set  
y = df[['price']]  # dependent variable , target variable

In [150]:
# train test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [142]:
# import random
# student_list = ['nikita','surabhi','lakshay','govind'] 
# random.shuffle(student_list)

In [156]:
x_train.head()

      kms_driven  owner  age   power  brand
8306     28750.0      1  4.0   125.0      1
3704     30500.0      1  5.0   150.0      1
943      12000.0      1  3.0   390.0      8
6501     12500.0      1  5.0  1200.0      3
995       4900.0      1  4.0   150.0      1

In [ ]:
### model selection

In [158]:
from sklearn.linear_model import  LinearRegression

In [159]:
lnr = LinearRegression()

In [170]:
## train the algorithm 
lnr.fit(x_train,y_train)

LinearRegression()

In [161]:
x_train.shape

(5845, 5)