### Pandas

In [1]:
import pandas as pd 
import numpy as np

In [15]:
data = {'Name':['anshika','sania','lakshya','akshay'],
        'city':['kota','hyderabad','jaipur','delhi'],
        'branch':['cse','it','it','civil'],
        'roll_no':[10,20,30,np.nan]}
data

{'Name': ['anshika', 'sania', 'lakshya', 'akshay'],
 'city': ['kota', 'hyderabad', 'jaipur', 'delhi'],
 'branch': ['cse', 'it', 'it', 'civil'],
 'roll_no': [10, 20, 30, nan]}

In [16]:
df = pd.DataFrame(data)
df

      Name       city branch  roll_no
0  anshika       kota    cse     10.0
1    sania  hyderabad     it     20.0
2  lakshya     jaipur     it     30.0
3   akshay      delhi  civil      NaN

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [10]:
df['Name']

0    anshika
1      sania
2    lakshya
3     akshay
Name: Name, dtype: object

In [9]:
type(df['Name'])

pandas.core.series.Series

In [12]:
df.Name   # series

0    anshika
1      sania
2    lakshya
3     akshay
Name: Name, dtype: object

In [14]:
arr = np.random.randint(1,200,50)
arr

array([188,  81,   9,  88,  29,  22, 151, 151,  48,  60, 134,  94,  84,
       130,  90,  78, 193,  12,  70,  12, 139,  56,  51, 139,  26,  98,
        81,  95,   6, 105, 198, 183, 149, 125,   1, 126, 121, 147, 154,
       185, 138, 103, 174,  98, 123, 117, 196, 172, 195,  49], dtype=int32)

In [19]:
ser = pd.Series(arr,name='random_numbers',dtype='f')
ser

0     188.0
1      81.0
2       9.0
3      88.0
4      29.0
5      22.0
6     151.0
7     151.0
8      48.0
9      60.0
10    134.0
11     94.0
12     84.0
13    130.0
14     90.0
15     78.0
16    193.0
17     12.0
18     70.0
19     12.0
20    139.0
21     56.0
22     51.0
23    139.0
24     26.0
25     98.0
26     81.0
27     95.0
28      6.0
29    105.0
30    198.0
31    183.0
32    149.0
33    125.0
34      1.0
35    126.0
36    121.0
37    147.0
38    154.0
39    185.0
40    138.0
41    103.0
42    174.0
43     98.0
44    123.0
45    117.0
46    196.0
47    172.0
48    195.0
49     49.0
Name: random_numbers, dtype: float32

In [23]:
ser[ser < 50]

2      9.0
4     29.0
5     22.0
8     48.0
17    12.0
19    12.0
24    26.0
28     6.0
34     1.0
49    49.0
Name: random_numbers, dtype: float32

In [28]:
ser[0] # single item

np.float32(188.0)

In [29]:
ser[0:3]  # same rule

0    188.0
1     81.0
2      9.0
Name: random_numbers, dtype: float32

In [33]:
ser.min()

np.float32(1.0)

In [34]:
ser.max()

np.float32(198.0)

In [35]:
ser.mean()

np.float32(105.48)

In [36]:
ser.median()  # <===

np.float32(104.0)

In [37]:
ser.var()

np.float32(3312.2139)

In [38]:
ser.std()

np.float32(57.551838)

In [45]:
ser.sum()

np.float32(5274.0)

In [51]:
ser.agg(['min','max','mean','median','var','std','sum'])

min          1.000000
max        198.000000
mean       105.480003
median     104.000000
var       3312.213867
std         57.551838
sum       5274.000000
Name: random_numbers, dtype: float32

In [53]:
df.shape

(4, 4)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4 non-null      object
 1   city     4 non-null      object
 2   branch   4 non-null      object
 3   roll_no  4 non-null      int64
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

In [58]:
df["Name"]  # series 1D

0    anshika
1      sania
2    lakshya
3     akshay
Name: Name, dtype: object

In [59]:
df[["Name"]]  # dataframe 2D

      Name
0  anshika
1    sania
2  lakshya
3   akshay

In [60]:
type(df[["Name"]])

pandas.core.frame.DataFrame

In [61]:
type(df["Name"])

pandas.core.series.Series

In [64]:
df[['Name','city']]

      Name       city
0  anshika       kota
1    sania  hyderabad
2  lakshya     jaipur
3   akshay      delhi

In [66]:
df[['branch','Name']]  # to access multiple columns from a dataframe

  branch     Name
0    cse  anshika
1     it    sania
2     it  lakshya
3  civil   akshay

#### loc and iloc

In [71]:
df.loc[0]  # single row

Name       anshika
city          kota
branch         cse
roll_no         10
Name: 0, dtype: object

In [73]:
df.loc[1]

Name           sania
city       hyderabad
branch            it
roll_no           20
Name: 1, dtype: object

In [79]:
df.loc[0:2]

      Name       city branch  roll_no
0  anshika       kota    cse       10
1    sania  hyderabad     it       20
2  lakshya     jaipur     it       30

In [81]:
df.iloc[0:2,1:3]

        city branch
0       kota    cse
1  hyderabad     it

In [5]:
df.dtypes

Name       object
city       object
branch     object
roll_no     int64
dtype: object

In [6]:
df

      Name       city branch  roll_no
0  anshika       kota    cse       10
1    sania  hyderabad     it       20
2  lakshya     jaipur     it       30
3   akshay      delhi  civil       40

In [10]:
df.max()

Name       sania
city        kota
branch        it
roll_no       40
dtype: object

In [9]:
ls = ['A','B','C','D']
max(ls)

'D'

In [13]:
df

      Name       city branch  roll_no
0  anshika       kota    cse       10
1    sania  hyderabad     it       20
2  lakshya     jaipur     it       30
3   akshay      delhi  civil       40

In [17]:
df.describe()

       roll_no
count      3.0
mean      20.0
std       10.0
min       10.0
25%       15.0
50%       20.0
75%       25.0
max       30.0

In [12]:
df.describe(include='O')  # O ==> object

           Name  city branch
count         4     4      4
unique        4     4      3
top     anshika  kota     it
freq          1     1      2

In [18]:
df

      Name       city branch  roll_no
0  anshika       kota    cse     10.0
1    sania  hyderabad     it     20.0
2  lakshya     jaipur     it     30.0
3   akshay      delhi  civil      NaN

In [24]:
st = r"mohan rahul \n kartik"
print(st)

mohan rahul \n kartik

In [22]:
st = r"C:\Users\Ranjit\Desktop\4 Month\pandas\laptopPrice.csv" 
print(st)

C:\Users\Ranjit\Desktop\4 Month\pandas\laptopPrice.csv

In [25]:
file_path = r"laptopPrice.csv"
df = pd.read_csv(file_path)
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [ ]:
df.head()  # top 5 records

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [33]:
df.head(10)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
5,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,22990,3 stars,0,0
6,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,21990,3 stars,31,3
7,ASUS,Intel,Core i5,10th,8 GB,DDR4,0 GB,1024 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,58799,3 stars,0,0
8,Lenovo,Intel,Core i5,10th,4 GB,DDR4,0 GB,1024 GB,Windows,32-bit,0 GB,Casual,No warranty,No,No,49999,3 stars,0,0
9,acer,AMD,Ryzen 5,10th,4 GB,DDR4,0 GB,512 GB,Windows,32-bit,4 GB,Casual,No warranty,No,No,59990,4 stars,1946,240

In [35]:
df.tail(6)  # bottom 5 records

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
817,ASUS,AMD,Ryzen 9,Not Available,4 GB,LPDDR4X,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,Yes,Yes,234990,3 stars,0,0
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [37]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [40]:
cat_col = df.select_dtypes(include="O")
cat_col.dtypes

brand              object
processor_brand    object
processor_name     object
processor_gnrtn    object
ram_gb             object
ram_type           object
ssd                object
hdd                object
os                 object
os_bit             object
graphic_card_gb    object
weight             object
warranty           object
Touchscreen        object
msoffice           object
rating             object
dtype: object

In [41]:
num_col = df.select_dtypes(exclude="O")
num_col.dtypes

Price                int64
Number of Ratings    int64
Number of Reviews    int64
dtype: object

In [43]:
num_col.head()

   Price  Number of Ratings  Number of Reviews
0  34649                  3                  0
1  38999                 65                  5
2  39999                  8                  1
3  69990                  0                  0
4  26990                  0                  0

In [44]:
cat_col.shape    , num_col.shape

((823, 16), (823, 3))

In [54]:
823*19

15637

In [53]:
df.shape

(823, 19)

In [55]:
pd.concat([cat_col,num_col],axis=1)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,rating,Price,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,2 stars,34649,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,3 stars,38999,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,3 stars,39999,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,3 stars,69990,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,3 stars,26990,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,3 stars,135990,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,3 stars,144990,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,3 stars,149990,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,3 stars,142990,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,4 stars,57490,18,4

### filtering operation

In [58]:
df['brand'].unique()

array(['ASUS', 'Lenovo', 'acer', 'Avita', 'HP', 'DELL', 'MSI', 'APPLE'],
      dtype=object)

In [59]:
df['brand'].nunique()

8

In [63]:
df['brand'].value_counts()

brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64

In [61]:
df['brand'].value_counts(ascending=True)

brand
Avita      14
APPLE      28
MSI        50
acer       51
HP        136
Lenovo    144
DELL      151
ASUS      249
Name: count, dtype: int64

In [64]:
df['ram_gb'].unique()

array(['4 GB', '8 GB', '16 GB', '32 GB'], dtype=object)

In [65]:
df['ram_gb'].value_counts()

ram_gb
8 GB     418
4 GB     226
16 GB    177
32 GB      2
Name: count, dtype: int64

In [70]:
# brand ==> apple  
apple = df[df['brand']== "APPLE"]

In [72]:
apple.shape

(28, 19)

In [73]:
apple.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
309,APPLE,Intel,Core i5,10th,8 GB,LPDDR4X,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,159990,4 stars,32,5
310,APPLE,Intel,Core i5,8th,8 GB,DDR3,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,172090,4 stars,108,13
407,APPLE,Intel,Core i5,10th,16 GB,LPDDR4X,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,179990,4 stars,31,3
408,APPLE,Intel,Core i5,10th,16 GB,LPDDR4X,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,179990,4 stars,91,5
599,APPLE,M1,M1,10th,8 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,85990,4 stars,6725,629

In [82]:
# brand == 'apple'  and processor_brand  = M1  
 
appel_m1chip = df[(df['brand']=='APPLE')  &   (df["processor_brand"]=="M1") & (df['ram_gb']=="16 GB") ]

In [83]:
appel_m1chip.shape

(11, 19)

In [92]:
# appel_m1chip

In [94]:
appel_m1chip.to_csv("apple m1 chip.csv",index=False)

In [96]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ranjit\appdata\local\programs\python\python312\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\ranjit\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

In [90]:
appel_m1chip.to_excel('apple.xlsx')

In [98]:
pd.read_excel('apple.xlsx')

,Unnamed: 0,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,601,APPLE,M1,M1,10th,16 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,104990,4 stars,45,4
1,603,APPLE,M1,M1,10th,16 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,132990,4 stars,640,70
2,604,APPLE,M1,M1,10th,16 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,104990,4 stars,45,4
3,606,APPLE,M1,M1,10th,16 GB,DDR4,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,149990,4 stars,640,70
4,612,APPLE,M1,M1,10th,16 GB,DDR4,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,128990,4 stars,45,4
5,613,APPLE,M1,M1,10th,16 GB,DDR4,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,184990,4 stars,42,8
6,614,APPLE,M1,M1,10th,16 GB,DDR4,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,225990,4 stars,42,8
7,618,APPLE,M1,M1,10th,16 GB,DDR4,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,169990,4 stars,640,70
8,619,APPLE,M1,M1,10th,16 GB,DDR4,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,225990,4 stars,42,8
9,620,APPLE,M1,M1,10th,16 GB,DDR4,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,243990,4 stars,42,8
10,622,APPLE,M1,M1,10th,16 GB,DDR4,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,225990,4 stars,42,8