>>> ####  Customer Satisfaction prediction

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported")

libraries imported

In [2]:
df = pd.read_csv("cust_satisfaction.csv")
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [3]:
file_path = "https://raw.githubusercontent.com/upflairs-pvt-ltd/1st_june_data_science/refs/heads/master/customer_satisfaction/cust_satisfaction.csv"
df = pd.read_csv(file_path)
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [ ]:
## assignment 
### google spreadsheet

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [6]:
df.duplicated().sum()

172

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

0

In [10]:
df['Type of Travel'].value_counts()

Type of Travel
Business travel    71521
Personal Travel    32211
Name: count, dtype: int64

In [12]:
df['Class'].value_counts()

Class
Business    49555
Eco         46684
Eco Plus     7493
Name: count, dtype: int64

In [14]:
df['Customer Type'].value_counts()

Customer Type
Loyal Customer       84778
disloyal Customer    18954
Name: count, dtype: int64

In [16]:
male = df[df['Gender'] == "Male"]
female = df[df['Gender'] == "Female"]

In [18]:
male["Customer Type"].value_counts()

Customer Type
Loyal Customer       42384
disloyal Customer     8697
Name: count, dtype: int64

In [19]:
female["Customer Type"].value_counts()

Customer Type
Loyal Customer       42394
disloyal Customer    10257
Name: count, dtype: int64

In [21]:
male['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    28647
satisfied                  22434
Name: count, dtype: int64

In [22]:
female['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    30171
satisfied                  22480
Name: count, dtype: int64

In [24]:
df['satisfaction'].value_counts(normalize=True)

satisfaction
neutral or dissatisfied    0.567019
satisfied                  0.432981
Name: proportion, dtype: float64

In [25]:
df['satisfaction'].value_counts(normalize=True) * 100

satisfaction
neutral or dissatisfied    56.701886
satisfied                  43.298114
Name: proportion, dtype: float64

In [29]:
male_with_4plus_rating = male[male["Inflight entertainment"]>=4]
male_with_4plus_rating.shape

(27049, 12)

In [ ]:
22k satisfied 
27k 4+ rating

In [30]:
# EDA

In [33]:
df['Inflight entertainment'].value_counts()

Inflight entertainment
4    29350
5    25158
3    19124
2    17622
1    12464
0       14
Name: count, dtype: int64

In [ ]:
#EDA