In [17]:
class College:
     no_of_students = 100 
     student_name = "anshika"
     student_roll_no = 101 
     college_city = 'kota'

In [14]:
print(no_of_students)

NameError: name 'no_of_students' is not defined

In [18]:
## to create instance of a class 
obj = College()
print('Instance is created!')

Instance is created!

In [21]:
print(obj.no_of_students)

100

In [16]:
type(obj)

__main__.College

In [22]:
name = "upflairs"
print(name)

upflairs

In [23]:
type(name)

str

In [ ]:
studentname = str("anshika")
studentname = "anshika"

In [31]:
type(studentname)

str

In [ ]:
# code oop

In [ ]:
str , list

In [33]:
class College:
    # class variables 
     no_of_students = 100 
     student_name = "anshika"
     student_roll_no = 101 
     college_city = 'kota'

In [ ]:
class variables: no need to create an object, you can access the class var, with the help of 
                class name itself, class variables will be available in a class.

In [36]:

print(College.student_name)

anshika

In [ ]:
constructor: is a special kind of function, which is used to initialize the 
            variables,(instance variables ). and the constructor always create with "__init__" this name,
            we dont need to call the constructor,

In [42]:
# instance variable 
class College:
    # class variables  
    college_name = "IET Lucknow" 
    college_city = "lucknow" 

    # constructor  
    def __init__(self):
        #instance variables 
        self.student_name = "anshika"
        self.student_city = "kota"
        self.student_roll_no = 101 
        self.student_branch = "cse"

In [ ]:
# College.student_name  # we cant access instance var, by the class name

AttributeError: type object 'College' has no attribute 'student_name'

In [43]:
obj = College()

In [44]:
obj.college_name

'IET Lucknow'

In [45]:
obj.student_name

'anshika'

In [52]:
# instance variable 
class College:
    # class variables  
    college_name = "IET Lucknow" 
    college_city = "lucknow" 

    # constructor  
    def __init__(self):
        #instance variables 
        self.student_name = "anshika"
        self.student_city = "kota"
        self.student_roll_no = 101 
        self.student_branch = "cse" 
        print("hey i am constructor, and i executed!")

In [53]:
o1 = College()
o2 = College()
o3 = College()

hey i am constructor, and i executed!
hey i am constructor, and i executed!
hey i am constructor, and i executed!

In [55]:
o1.student_name = 'AYUSH GUPTA'

In [56]:
o1.student_name

'AYUSH GUPTA'

In [57]:
o2.student_name

'anshika'

In [51]:
o2.student_name

'anshika'